.global_container{
    height: 9.027%;
    
}
.nav_container{
    display: flex;
    align-items: center;
    margin-top:18.919% ;
    width: 90%;
    padding: 3% 0;
    margin-left: 5%;
    position: relative;
    border: 2px solid coral;


}
.jplogo_container{
    position: absolute;
    width: 6.4%;
    
  
}

.instalogo_container{
    position: absolute;
    width: 5.33%;
    margin-left: 68.108%;
   
}


.twilogo_container{
    position: absolute;
    margin-left:73.784% ;

}

.hmenulogo_container{
    
    position: absolute;
    width: 7.133%;
    margin-left:94% ;
}
.hmenu_button{
    cursor: pointer;
    background: none;
    border: none;
}

@media(min-width:376px){
   
    .nav_container{
        display: flex;
        width: 85%;
        border:2px solid rgb(255, 149, 27);
        margin-top: 10%;
        margin-left: 7.5%;
       
        
        }
       
       
        .instalogo_container{
           
            margin-left: 79%;
           
        }
      
        .twilogo_container{
           
            margin-left:82% ;
        
        }
        
        .hmenulogo_container{
           
            margin-left:96% ;
        }
       



}

@media(min-width:1439px){
    .global_container{
        margin-top: 0%;
       
       
        
        
    }
    
    .nav_container{
    
    margin-top: 0%;
    margin-left: 7.5%;
    width: 85%;
    border:2px solid rgb(236, 161, 177);
    
   
}
   
   
    .instalogo_container{
      
        margin-left: 88.5%;
       
    }
  
    .twilogo_container{
       
        margin-left:90% ;
    
    }
  
    .hmenulogo_container{
       
        margin-left:98% ;
    }
   




}