.global_container{
    height: 9.027%;
    position:sticky;
    
}
.nav_container{
    display: flex;
    align-items: center;
    margin-top:18.919% ;
    width: 90%;
    padding: 3% 0;
    margin-left: 5%;
    position: relative;
    /*border: 2px solid coral;*/


}
.jplogo_container{
    position: absolute;
    width: 4.5%;
    cursor:pointer;
    
  
}

.instalogo_container{
    position: absolute;
    width: 4.5%;
    margin-left: 75%;
    cursor:pointer;
}


.twilogo_container{
    position: absolute;
    margin-left:80% ;
    width: 4.5%;
    cursor:pointer;

}

.hmenulogo_container{
    
    position: absolute;
    width: 9.5%;
    margin-top:-1%;

    margin-left:93% ;
}
.hmenu_button{
    cursor: pointer;
    background: none;
    border: none;
}

@media(min-width:376px){
   
    .nav_container{
        display: flex;
        width: 85%;
        border:2px solid transparent;
        margin-top: 10%;
        margin-left: 7.5%;
       
        
        }
        .jplogo_container{
            width: 4%;
        }
       
       
        .instalogo_container{
           
            margin-left: 78%;
           
        }
      
        .twilogo_container{
           
            margin-left:82% ;
        
        }
        
        .hmenulogo_container{
           
            margin-left:93% ;
        }
       



}

@media(min-width:1439px){
    .global_container{
        margin-top: 0%;
       
       
        
        
    }
    
    .nav_container{
    
    margin-top: 0%;
    margin-left: 7.5%;
    width: 85%;
    border:2px solid rgb(236, 161, 177);
    
   
}
   .jplogo_container{
       width: 2.5%;
   }
   
    .instalogo_container{
      
        margin-left: 88%;
       
    }
  
    .twilogo_container{
       
        margin-left:90% ;
    
    }
  
    .hmenulogo_container{
       
        margin-left:96.5% ;
    }
   




}