.text4_container{
    margin-top: 5%;
    margin-left: 53.3%;
    width: 9.5%;
    
    /*border:2px solid blue;*/
    font-size: 13px;
    font-weight: 300;
    
  }
  .text4_h1{
    font-size: 15px;
  }
  
  .text4_date{
    margin-top: 5%;
    margin-bottom: 1px;
  }
  .text4_05{
    font-size: 13px;
    font-weight: 600;

  }
  .text4_f{
    font-size: 13px;
    font-weight: 600;

  }

  
  
  

  @media(min-width:376px){
    .text4_container{
      margin-top: 2%;
      margin-left: 54.3%;
      width: 6.5%;
      
      border:2px solid rgb(65, 200, 218);
      font-size: 13px;
      font-weight: 300;
      
    }
    .text4_h1{
      font-size: 28px;
    }
    .text4_p{
      font-size: 25px;
      line-height: 29.35px;
      width: 90%;
    }
    
    .text4_date{
      margin-top: 7%;
      margin-bottom: -2%;
      font-size: 14px;
    }
    .text4_05{
      font-size: 14px;
      font-weight: 600;
  
    }
    .text4_fd{
      font-size: 14px;
      font-weight: 300;
  
    }
    .text4_f{
      font-size: 14px;
      font-weight: 600;
  
    }
  
    @media(min-width:1439px){
      .text4_container{
        margin-top: -14%;
        margin-left: 48.4%;
        width: 37%;
        color: white;
        border:2px solid rgb(65, 200, 218);
       
        
      }
      .text4_h1{
        font-size: 36px;
        font-weight: 400;
      }
      .text4_p{
        font-size: 25px;
        width: 90%;
        font-weight:200;
      }
      
      .text4_date{
        margin-top: 1%;
        margin-bottom: 0%;
        font-size: 18px;
      }
      .text4_05{
        font-size: 18px;
        font-weight: 600;
    
      }
      .text4_fd{
        font-size: 18px;
        font-weight: 300;
    
      }
      .text4_f{
        font-size: 18px;
        font-weight: 600;
    
      }


    }



  }