.main_container3{
    width: 85%;
    
    color: black;
    margin-top:80%;
    margin-left:6.6%;
    
    border:1px solid rgb(0, 255, 234);
    font-weight: 400; 
    font-size: 13px;
  }
  .writing_h1{
    font-size: 30px;
    font-weight: 700;
   

  }
  .writing_line{
    width: 7%;
    height: 1px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: .5%;
    background-color: black;
  }
  .writing_p1{
    font-size: 13px;
    font-weight: 600;
    border: 2px solid palevioletred;
    width:50%;
  }
  .writing_p2{
    margin-top: 2%;
    font-size: 17px;
    font-weight: 400;
  }
  .writing_p3{
    font-weight: 700;
  }
  .writing_p4{
    margin-top: -27%;
    font-size: 13px;
    width: 95%;


  }
  .writing_p5{
    font-weight: 700;
  }
  .empanada_container{
    max-width: 100%;
    margin-top: 20px;
    margin-left: 0%;
    margin-bottom: 95px;
}
  
  
  .wcontainer_p{
    margin-top: -26%;
    font-size: 13px;
    font-weight: 200;
   
  }
  .wlink{
    font-weight: 700;
  }
  .wcircle{
    
    
      width: 0.5rem;
      height: 0.5rem;
      margin-top:6%;   
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: black;
    }
    .button_container{
      
      width: 43%;
      border: 2px solid blueviolet;
      padding:0%;
      margin-top: 5%;
      font-size: 18px;
      font-weight: 700;
      background-color: rgb(87, 86, 86);
     
     
      
    }
    .button{
      display: flex;
      
      position: relative;
      border: none;
      color: white;
      background: none;      
      padding: 0;
      margin: 0;
    }
   
    .button_p{
      position: relative;
      margin-top: 5%;
      margin-left: 15px;
      font-size: 13px;
      font-weight: 600;
    }
    .polygon_container{
      position: relative;
    }
    .wpolygon_container{
       margin-top: 10%;
       margin-left: 10px;
       width:70%;
    }
    .bpolygon_container{
     
      display: none;
      
    }
      
      
   
  
  
  
  @media(min-width:376px){
    .main_container3{
      display: flex;
      flex-direction: column;
      width: 84%;
      height: 12%;
      margin-left: 7%;
      margin-top: 49%;
      border:2px solid coral;
      background-color:none;
            
      }
     
    .writing_h1{
      font-size: 50px;
      font-weight: 700;
     
  
    }
    .writing_line{
      width: 6%;
      height: 1px;
      margin-top: 2%;
      margin-bottom: 2%;
      margin-left: .5%;
      background-color: black;
    }
    .writing_p1{
      font-size: 13px;
      font-weight: 600;
      border: 2px solid palevioletred;
      width:70%;
    }
    .writing_p2{
      margin-top: 2%;
      font-size: 18px;
      font-weight: 400;
    }
    .writing_p3{
      font-weight: 700;
      font-size: 18px;
    }
    .writing_p4{
      margin-top: 4%;
      font-size: 18px;
      width: 95%;
  
  
    }
    .writing_p5{
      font-weight: 700;
      font-size: 18px;
    }
    .empanada_container{
      margin-top: 5%;
      margin-left: 0%;
      margin-bottom: 1%;
      width: 99.2%;
      border: 2px solid rgb(162, 0, 255);
  }
  
    
    
    .wcontainer_p{
      margin-top: -26%;
      font-size: 13px;
      font-weight: 200;
     
    }
    .wlink{
      font-weight: 700;
    }
    .wcircle{
      
      
        width: 0.5rem;
        height: 0.7rem;
        margin-top:3%;   
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: black;
      }


      .button_container{
      
      width: 27%;
      border: 2px solid blueviolet;
      padding:0%;
      margin-top: 5%;
      font-size: 20px;
      font-weight: 700;
      background-color: white;
     
     
      
    }
    .button{
      display: flex;
      
      position: relative;
      border: none;
      color: black;
      background: none;      
      padding: 0;
      margin: 0;
    }
   
    .button_p{
      position: relative;
      margin-top: 5%;
      margin-left: 15px;
      font-size: 20px;
      font-weight: 600;
    }
    .polygon_container{
      position: relative;
    }
    .wpolygon_container{
       display: none;
    }
    .bpolygon_container{
      display: block;
      margin-top: 30%;
       margin-left: 15px;
       width:70%;
      
    }
        

     
      @media(min-width:1439px){
        .main_container3{
          width: 55%;
          
          color: white;
          margin-top:-60%;
          margin-left:7.4%;
          
          border:1px solid rgb(0, 255, 234);
          font-weight: 400; 
          font-size: 13px;
        }
        .writing_h1{
          font-size: 50px;
          font-weight: 700;
         
      
        }
        .writing_line{
          display: none;
          width: 7%;
          height: 1px;
          margin-top: 1%;
          margin-bottom: 1%;
          margin-left: .5%;
          background-color: black;
        }
        .writing_p1{
          font-size: 18px;
          font-weight: 600;
          border: 2px solid palevioletred;
          width:90%;
        }
        .writing_p2{
          margin-top: 2%;
          font-size: 18px;
          font-weight: 400;
        }
        .writing_p3{
          font-size: 18px;
          font-weight: 700;
        }
        .writing_p4{
          margin-top: -7%;
          font-size: 18px;
          width: 107%;
      
      
        }
        .writing_p5{
          font-weight: 700;
        }
        .empanada_container{
          max-width: 100%;
          margin-top: 20px;
          margin-left: 0%;
          margin-bottom: 95px;
      }
        
        
        .wcontainer_p{
          margin-top: -26%;
          font-size: 13px;
          font-weight: 200;
         
        }
        .wlink{
          font-weight: 700;
        }
        .wcircle{
           display: none;        
            width: 0.5rem;
            height: 0.5rem;
            margin-top:6%;   
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background: black;
          }
          .button_container{
      
            width: 27%;
            border: 2px solid blueviolet;
            padding:0%;
            margin-top: 5%;
            font-size: 20px;
            font-weight: 700;
            background-color: rgb(87, 86, 86);
           
           
            
          }
          .button{
            display: flex;
            cursor: pointer;
            position: relative;
            border: none;
            color: white;
            background: none;      
            padding: 0;
            margin: 0;
          }
         
          .button_p{
            position: relative;
            margin-top: 5%;
            margin-left: 15px;
            font-size: 24px;
            font-weight: 600;
          }
          .polygon_container{
            position: relative;
          }
          .wpolygon_container{
             display: block;
             margin-top: 40%;
             margin-left: 15px;
             width:100%;
          }
          .bpolygon_container{
            display: none;
            margin-top: 30%;
             margin-left: 15px;
             width:100%;
            
          
      
          }
        

      }
    
    
      
    }

   
  