.footer_global{
    height: 60px;
    width: 1440px;
    background-color:white;
    display: flex;
    align-items: center;
    
  

}
.footer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.instalogob{
    margin-left: 85px;
   
   
}
.twlogob{
    margin-top:4px;
    

}
.jplogob{
    margin-left:1166px ;
    margin-top: 5px;
    margin-bottom:7px;
}
.home{
    margin-left: 3px;
    font-style: Raleway;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.09px;
    margin-right:85px;
    
}
@media(max-width:375px){
    .footer_global{
      width: 370px;
      }
    }