.global_container{
  
    background-color: white;
    
}
.footer_container{
    display: flex;
    align-items: center;
    
    height: 12%;
    padding: 5.333% 0 5.333% 0;
    position: relative;


}
.jplogo_container{
    position: absolute;
    margin-left: 76.133%;

}


.instalogo_container{
    position: absolute;
    margin-left: 5.6%;
   
}

.twilogo_container{
    position: absolute;
    margin-left:10.4% ;

}



.home_container{
    position: absolute;
    margin-left:84.8% ;
    font-size: 0.75rem;
    font-weight: 700;
}


@media(min-width:376px){
    .footer_container{
        
        margin-top:0;
        height: 12%;
        padding: 5.333% 0 5.333% 0;
        position: relative;
    
    
    }
        .jplogo_container{
           
            margin-left: 81.37%;
        
        }
       
        .instalogo_container{
          
            margin-left: 6.3%;
           
        }
      
        .twilogo_container{
           
            margin-left:8.5% ;
        
        }
        
        .home_container{
           
            margin-left:84.976% ;
        }
       



}

@media(min-width:1439px){
    .footer_container{
    height: 10%;
  
    border:2px solid rgb(236, 161, 177);
    padding: 2.167 0 2.167 0;
    }
    .jplogo_container{
       
        margin-left: 90.7%;
    
    }
   
    .instalogo_container{
      
        margin-left: 6.875%;
       
    }
  
    .twilogo_container{
       
        margin-left:8.172% ;
    
    }
   
    .home_container{
       
        margin-left:92.5% ;
    }
  
}