.background_container{
    padding: 0;
    margin: 0;
    width: 1440px;
    height:3748px;
    font-style: Raleway;
    background-color: black;
    position:absolute;
}

.jpimg_container ::after{
    margin-left: 820px;
    position:absolute;
    

}

.jpphoto{
    background-color: black;
    opacity: 40;
    



}
.wcircle {
    width:
    4904.31px ;
    height: 
    3861.36px;
    margin-top: 637px;
    margin-left:
    2109.31px ;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
}
.bcircle {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgb(82, 81, 81);
}
.rectangle {
    width: 250px; 
    height: 100px; 
    border: 3px solid #555;
    background: rgb(73, 72, 72);
}