.global_container{
    height: 9.027%;
    
}
.nav_container{
    display: flex;
    align-items: center;
    margin-top:18.919% ;
    
    padding: 1%;
    position: relative;


}
.jplogo_container{
    position: absolute;
    margin-left: 5.676%;

}
.jplogo{
    width:1.5rem;
    height: 1.25rem;
}
.instalogo_container{
    position: absolute;
    margin-left: 68.108%;
   
}
.instalogo{
    width:1.125rem ;
    height:1.125rem ;
}
.twilogo_container{
    position: absolute;
    margin-left:73.784% ;

}
.twilogo{
    width:1.25rem ;
    height:1.25rem  ;

}
.hmenulogo_container{
    
    position: absolute;
    margin-left:88.108% ;
}
.hmenu_button{
    background: none;
    border: none;
}

@media (min-width:1440){
    
    
   
    .nav_container{
        display: flex;
        align-items: center;
        margin-top:8.919% ;
        
        padding: 1%;
        position: relative;
    
    
    }
    .jplogo_container{
        position: absolute;
        margin-left: 5.676%;
        background-color: blueviolet;
    
    }
    .jplogo{
        width:1.5rem;
        height: 1.25rem;
    }
    .instalogo_container{
        position: absolute;
        margin-left: 68.108%;
       
    }
    .instalogo{
        width:1.125rem ;
        height:1.125rem ;
    }
    .twilogo_container{
        position: absolute;
        margin-left:73.784% ;
    
    }
    .twilogo{
        width:1.25rem ;
        height:1.25rem  ;
    
    }
    .hmenulogo_container{
        
        position: absolute;
        margin-left:88.108% ;
    }
    .hmenu_button{
        background: none;
        border: none;
    }
    
}