.background_index{
  position:relative;
}
.main_container1{
  position: absolute;
  border: 2px solid rgb(252, 210, 148);
  margin-left:85px;
  margin-right: 85px;
  margin-top:177px;
  display: flex;
  flex-direction:column;
  color: white;

}
.text1_p{
  border: 2px solid rgb(164, 236, 245);
  margin: 0;
  padding: 0;
  width: 204px;
  height: 35px;
  font-size: 24px;
  font-weight: 200;
  
}
.text1>b{
  font-weight: 700;
}
.text2>p{
  border: 2px solid rgb(243, 123, 123);
  margin: 0;
  padding: 0;
  width: 299px;
  height: 86px;
  font-size: 72px;
  font-weight: 700;
  line-height: 84.53px;
}
.circletext{
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  margin-top:28px;   
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: white;
}
.text3{
  border:1px solid blueviolet;
  width: 630px;
  font-weight: 200;
  font-size: 20px;
  
  font-style: normal;
  
}
.text3 >b{
  font-weight: 400;

}
.text4_p{
  width:840px;
  height:97px;
  font-size: 25px;
  font-weight: 200;
  
}
.main_container2{
  color: rgb(241, 132, 132);
  width: 837px;
  height: 170px;
  margin-top: 523px;
  margin-left: 85px;
  margin-right:85px;
  border:1px solid springgreen;
}

.main_container3{
  width: 837px;

  color: white;
  margin-top:338px;
  margin-left:85px;
  margin-right:85px;
  border:1px solid yellow;
  font-weight: 400; 
  font-size: 20px;
}
.button_container >button{
  width: 221px;
  height: 42px;
  
  font-size: 24px;
  font-weight: 700;
  background-color: white;
  border: none;
  
}

.wcontainer_p{
  font-weight: 200;
 
}