
html,
body {
  padding: 0;
  margin: 0;
  font-family:  Raleway;
  width: 1440px;
  height: 3748px;
 
}

html{
  background-color: black;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  
}
