.main_container1{
  border: 2px solid rgb(252, 210, 148);
  margin-left:85px;
  margin-right: 85px;
  margin-top:177px;
  display: flex;
  flex-direction:column;
  color: white;

}
.text1{
  border: 2px solid rgb(218, 245, 164);
  margin: 0;
  padding: 0;
  width: 204px;
  height: 35px;
  font-size: 24px;
  
}
.text1>b{
  font-weight: 700;
}
.text2>p{
  border: 2px solid rgb(243, 123, 123);
  
  margin: 0;
  padding: 0;
  width: 299px;
  height: 86px;
  font-size: 72px;
  font-weight: 700;
  line-height: 84.53px;
}
.text3{
  width: 630px;
  height: 215px;
  font-size: 20px;
  
  font-style: normal;
  
}

.main_home_global{
  background-color: rgb(198, 244, 247);
  margin-top:3626px;

} 
.main_container{
    width: 380px;
    margin-left:85px;
    color:rgb(12, 12, 12);
   
  }




.form_container{  
  margin-right: 90px;
  display:flex;
  width: 1355px;
  height: 744px;
  flex-direction: column;
 
  background-color:palevioletred;
     
}
.ul{
  color:white;
  font-weight: 700;
  font-size: 35px; 
  line-height: 41.09px;
  margin: 0;
  padding: 0;
}
.ul >li{
  list-style:none;

}
.li_name{
  font-size:15px;
  margin-top:60.19px;
}
.li_mail{
  font-size:15px;
  margin-top:68.52;
}
.li_msg{
  font-size:15px;
  margin-top:77.78px;
}
.textarea{
  vertical-align: top;
}

.button{
  margin-left:1142px;

}
.line{
  margin-top:17.59px;
  background-color: white;
  width:41px;
  height: 1px;
  
}

.text{
  color:white;
  margin-bottom:193.53px;
  font-size:18px;
  font-weight:700;
  line-height:84.53px;
}


