

.photo1_content{
    border: 2px solid sandybrown;
    width: 90%;
    position:absolute;
    margin-top: 50%;
    margin-left: 10%;
    z-index: 1;

 
}
.photo2_content{
    border: 2px solid sandybrown;
    position:absolute;
    margin-top: 178%;
    margin-left: 10%;
    z-index: 1;

 
}
.photo_container{
    color: white;
    border:2px solid  coral;
    margin-left: 5%;
    width: 90%;
    position: relative;
    z-index: 2;
    
}


.text1{
    margin-top: 10%;
    font-size: 30px;
    font-weight: 800;

}
.line1{
    border-bottom:1px solid white ;
    margin-top: 3%;
    width: 14%;

}
.text2{
    margin-top: 3%;
    width: 80%;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.26px;
}


.date1_container{
    display: flex;
    margin-top: 54.5%;
    font-size: 12px;
}
.date1_05{
    font-weight: 700;
}
.text3{
    display: flex;
    margin-top: 25%;
    font-size: 12px;
    
   
}
.text3_bold{
    margin-right: .5%;
    font-weight: 700;
}
.text4{
    font-size: 12px;
    font-weight: 600;
    margin-left: 68.5%;
}
.text5{
    font-size: 12px;
    font-weight: 400;
    margin-left: 72%;
}
.text6{
    font-size: 12px;
    font-weight: 400;
    margin-left: 80%;
}
.text7{
    font-size: 12px;
    font-weight:400;
    margin-left: 87%;
}
.text8{
    font-size: 18px;
    font-weight: 700;
    width: 60%;
    
    
    margin-top: -10%;
}



.date2_container{
    display: flex;
    margin-top: 54.5%;
    font-size: 12px;
}
.date2_05{
    font-weight: 700;
}
.text9{
    display: flex;
    margin-top: 25%;
    font-size: 12px;
    
   
}
.text9_bold{
    margin-right: .5%;
    font-weight: 700;
}
.text10{
    font-size: 12px;
    font-weight: 600;
    margin-left: 68.5%;
}
.text11{
    font-size: 12px;
    font-weight: 400;
    margin-left: 72%;
}
.text12{
    font-size: 12px;
    font-weight: 400;
    margin-left: 80%;
}
.text13{
    font-size: 12px;
    font-weight:400;
    margin-left: 87%;
}
.text14{
    font-size: 18px;
    font-weight: 700;
    width: 60%;
    
    
    margin-top: -10%;
}